<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Unknown</string>
		<key>ID</key>
		<integer>0</integer>
		<key>Action</key>
		<integer>0</integer>
		<key>Sound</key>
		<integer>0</integer>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>Path</key>
				<string>712_sh.png</string>
				<key>ORGBA</key>
				<string>75,0,0,0,255</string>
				<key>Rectangle</key>
				<string>157,546,703,303</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>Operation</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>Path</key>
				<string>712_xr.png</string>
				<key>ORGBA</key>
				<string>60,0,0,0,255</string>
				<key>Rectangle</key>
				<string>349,410,318,329</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>Operation</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>Path</key>
				<string>712_yxy.png</string>
				<key>ORGBA</key>
				<string>15,0,0,0,255</string>
				<key>Rectangle</key>
				<string>584,504,175,78</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>Path</key>
				<string>712_yxz.png</string>
				<key>ORGBA</key>
				<string>15,0,0,0,255</string>
				<key>Rectangle</key>
				<string>253,510,175,75</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>Path</key>
				<string>712_yyy.png</string>
				<key>ORGBA</key>
				<string>60,0,0,0,255</string>
				<key>Rectangle</key>
				<string>564,461,223,162</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>Path</key>
				<string>712_yyz.png</string>
				<key>ORGBA</key>
				<string>60,0,0,0,255</string>
				<key>Rectangle</key>
				<string>227,467,222,162</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>10</integer>
			</dict>
				<dict>
						<key>GlossAlpha</key>
						<integer>0</integer>
						<key>LightAlpha</key>
						<integer>1</integer>
						<key>LipstickMode</key>
						<integer>2</integer>
						<key>ORGBA</key>
						<string>50,145,56,69,255</string>
						<key>Type</key>
						<string>MPLIPSTICK</string>
					</dict>
		</array>
	</dict>
</array>
</plist>
