<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Unknown</string>
		<key>ID</key>
		<integer>0</integer>
		<key>Action</key>
		<integer>0</integer>
		<key>Sound</key>
		<integer>0</integer>
		<key>FacePart</key>
		<array>
		<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>Path</key>
				<string>yxy.png</string>
				<key>ORGBA</key>
				<string>35,0,0,0,255</string>
				<key>Rectangle</key>
				<string>584,506,165,59</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>Path</key>
				<string>yxz.png</string>
				<key>ORGBA</key>
				<string>35,0,0,0,255</string>
				<key>Rectangle</key>
				<string>268,512,165,59</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>Path</key>
				<string>yyy.png</string>
				<key>ORGBA</key>
				<string>55,0,0,0,255</string>
				<key>Rectangle</key>
				<string>562,478,246,155</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>Path</key>
				<string>yyywc.png</string>
				<key>ORGBA</key>
				<string>38,0,0,0,255</string>
				<key>Rectangle</key>
				<string>598,555,125,55</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<string>7</string>
				<key>Path</key>
				<string>yyywczg.png</string>
				<key>ORGBA</key>
				<string>45,0,0,0,255</string>
				<key>Rectangle</key>
				<string>595,546,133,60</string>
				<key>FilterType</key>
				<string>10</string>
				<key>MUType</key>
				<string>3</string>
				<key>Operation</key>
				<string>11</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>Path</key>
				<string>yyz.png</string>
				<key>ORGBA</key>
				<string>55,0,0,0,255</string>
				<key>Rectangle</key>
				<string>202,485,246,157</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>Path</key>
				<string>yyzwc.png</string>
				<key>ORGBA</key>
				<string>38,0,0,0,255</string>
				<key>Rectangle</key>
				<string>298,564,125,53</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<string>6</string>
				<key>Path</key>
				<string>yyzwczg.png</string>
				<key>ORGBA</key>
				<string>45,0,0,0,255</string>
				<key>Rectangle</key>
				<string>291,554,133,59</string>
				<key>FilterType</key>
				<string>10</string>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<string>10</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>Path</key>
				<string>sh.png</string>
				<key>ORGBA</key>
				<string>75,0,0,0,255</string>
				<key>Rectangle</key>
				<string>163,494,691,317</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>Operation</key>
				<integer>0</integer>
			</dict>
		<dict>
						<key>GlossAlpha</key>
						<integer>0</integer>
						<key>LightAlpha</key>
						<integer>0</integer>
						<key>LipstickMode</key>
						<integer>0</integer>
						<key>ORGBA</key>
						<string>48,208,105,112,255</string>
						<key>Type</key>
						<string>MPLIPSTICK</string>
					</dict>
					</array>
	</dict>
</array>
</plist>
