<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>相机</key>
	<dict>
		<key>预处理</key>
		<dict>
			<key>瘦脸</key>
			<dict>
				<key>powerOut</key>
				<real>0.35</real>
				<key>powerMiddle</key>
				<real>0.7</real>
				<key>powerInner</key>
				<real>0.6</real>
				<key>f6886</key>
				<real>0.225</real>
				<key>f7084</key>
				<real>0.43</real>
				<key>f7381</key>
				<real>0.3</real>
				<key>f77</key>
				<real>-0.3</real>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
			<key>放大眼睛</key>
			<dict>
				<key>eyesMax</key>
				<real>0.9</real>
				<key>fdegree</key>
				<real>0.2</real>
				<key>waiweicanshu</key>
				<real>0.8</real>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
			<key>亮眼</key>
			<dict>
				<key>alpha</key>
				<real>0.3</real>
				<key>darkenPupilSize</key>
				<integer>0</integer>
				<key>darkenPupilValue</key>
				<integer>0</integer>
				<key>whiteEyes</key>
				<integer>30</integer>
				<key>whiteClean</key>
				<integer>60</integer>
				<key>whiteArea</key>
				<integer>73</integer>
				<key>irisBright</key>
				<integer>34</integer>
				<key>detailAlpha</key>
				<real>1.2</real>
				<key>detailEmphasis</key>
				<real>3</real>
				<key>detailSmooth</key>
				<real>0.5</real>
			</dict>
			<key>祛斑祛痘</key>
			<dict>
				<key>needProtectMiddle</key>
				<false/>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>润唇</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
			</dict>
		</dict>
		<key>处理</key>
		<dict>
			<key>淡化黑眼圈</key>
			<dict>
				<key>fSilkwormAlpha</key>
				<real>0.4</real>
				<key>fSilkwormWeight</key>
				<real>0.2</real>
				<key>poisson</key>
				<integer>1</integer>
				<key>alpha</key>
				<real>0.4</real>
			</dict>
			<key>7级美颜处理</key>
			<dict>
				<key>ambientLight</key>
				<false/>
				<key>phoneType</key>
				<integer>0</integer>
				<key>isFaceMask</key>
				<false/>
				<key>bAbroad</key>
				<false/>
				<key>isForceCloseAutoContrast</key>
				<true/>
				<key>isForceCloseInnerSkinTune</key>
				<false/>
				<key>bAutoCleanFleck</key>
				<false/>
				<key>alphaMixIsSameToiOS</key>
				<false/>
				<key>alpha</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>特效模式默认美颜透明度</key>
		<dict>
			<key>alpha</key>
			<real>0.4</real>
		</dict>
		<key>虚化</key>
		<dict>
			<key>ellipse</key>
			<real>0.12</real>
			<key>ellipseHeight</key>
			<real>1.35</real>
			<key>div</key>
			<real>0.8</real>
			<key>heightOffset</key>
			<real>0.5</real>
			<key>innerValue</key>
			<real>0.32</real>
			<key>outerValue</key>
			<real>0.18</real>
			<key>nBlurLen</key>
			<integer>6</integer>
			<key>isOnlySupportSingleFace</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
