<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>美容-一键美颜</key>
	<dict>
		<key>放大眼睛</key>
		<dict>
			<key>eyesMax</key>
			<real>0.9</real>
			<key>fdegree</key>
			<real>0.2</real>
			<key>waiweicanshu</key>
			<real>0.8</real>
			<key>alpha</key>
			<real>0.4</real>
		</dict>
		<key>亮眼</key>
		<dict>
			<key>alpha</key>
			<real>0.3</real>
			<key>darkenPupilSize</key>
			<integer>0</integer>
			<key>darkenPupilValue</key>
			<integer>0</integer>
			<key>whiteEyes</key>
			<integer>30</integer>
			<key>whiteClean</key>
			<integer>60</integer>
			<key>whiteArea</key>
			<integer>73</integer>
			<key>irisBright</key>
			<integer>34</integer>
			<key>detailAlpha</key>
			<real>1.2</real>
			<key>detailEmphasis</key>
			<real>3</real>
			<key>detailSmooth</key>
			<real>0.5</real>
		</dict>
		<key>祛黑眼圈</key>
		<dict>
			<key>fSilkwormAlpha</key>
			<real>0.4</real>
			<key>fSilkwormWeight</key>
			<real>0.2</real>
			<key>poisson</key>
			<integer>1</integer>
			<key>alpha</key>
			<real>0.9</real>
		</dict>
		<key>7级美颜处理</key>
		<dict>
			<key>ambientLight</key>
			<false/>
			<key>phoneType</key>
			<integer>0</integer>
			<key>isFaceMask</key>
			<false/>
			<key>bAbroad</key>
			<false/>
			<key>isForceCloseAutoContrast</key>
			<false/>
			<key>isForceCloseInnerSkinTune</key>
			<false/>
			<key>bAutoCleanFleck</key>
			<false/>
			<key>alphaMixIsSameToiOS</key>
			<false/>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>祛斑祛痘</key>
		<dict>
			<key>needProtectMiddle</key>
			<false/>
			<key>alpha</key>
			<real>1</real>
		</dict>
		<key>瘦脸</key>
		<dict>
			<key>powerOut</key>
			<real>0.35</real>
			<key>powerMiddle</key>
			<real>0.7</real>
			<key>powerInner</key>
			<real>0.6</real>
			<key>f6886</key>
			<real>0.225</real>
			<key>f7084</key>
			<real>0.43</real>
			<key>f7381</key>
			<real>0.3</real>
			<key>f77</key>
			<real>-0.3</real>
		</dict>
		<key>轻度</key>
        <dict>
        	<key>特效程度</key>
        	<integer>1</integer>
        	<key>瘦脸程度</key>
        	<real>0.20</real>
        	<key>美颜程度</key>
        	<real>0.20</real>
        </dict>
        <key>普通</key>
        <dict>
             <key>特效程度</key>
             <integer>1</integer>
             <key>瘦脸程度</key>
             <real>0.35</real>
             <key>美颜程度</key>
             <real>0.6</real>
        </dict>
        <key>重度</key>
        <dict>
        	<key>特效程度</key>
        	<integer>1</integer>
        	<key>瘦脸程度</key>
        	<real>0.5</real>
        	<key>美颜程度</key>
        	<real>1</real>
        </dict>
	</dict>
	<key>美容-磨皮美白</key>
	<dict>
		<key>自动磨皮</key>
		<dict>
			<key>ambientLight</key>
			<false/>
			<key>phoneType</key>
			<integer>0</integer>
			<key>isFaceMask</key>
			<false/>
			<key>bAbroad</key>
			<false/>
			<key>isForceCloseAutoContrast</key>
			<false/>
			<key>isForceCloseInnerSkinTune</key>
			<false/>
			<key>bAutoCleanFleck</key>
			<false/>
			<key>alphaMixIsSameToiOS</key>
			<false/>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>手动磨皮</key>
		<dict>
			<key>ambientLight</key>
			<false/>
			<key>phoneType</key>
			<integer>0</integer>
			<key>isFaceMask</key>
			<true/>
			<key>bAbroad</key>
			<false/>
			<key>isForceCloseAutoContrast</key>
			<false/>
			<key>isForceCloseInnerSkinTune</key>
			<false/>
			<key>bAutoCleanFleck</key>
			<false/>
			<key>alphaMixIsSameToiOS</key>
			<false/>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>美容-祛斑祛痘</key>
	<dict>
		<key>自动</key>
		<dict>
			<key>needProtectMiddle</key>
			<false/>
		</dict>
		<key>手动</key>
		<dict/>
	</dict>
	<key>美容-瘦脸瘦身</key>
	<dict>
		<key>自动</key>
		<dict>
			<key>powerOut</key>
			<real>0.35</real>
			<key>powerMiddle</key>
			<real>0.7</real>
			<key>powerInner</key>
			<real>0.6</real>
			<key>f6886</key>
			<real>0.225</real>
			<key>f7084</key>
			<real>0.43</real>
			<key>f7381</key>
			<real>0.3</real>
			<key>f77</key>
			<real>-0.3</real>
		</dict>
		<key>手动</key>
		<dict/>
	</dict>
	<key>美容-祛皱</key>
	<dict>
		<key>手动</key>
		<dict/>
	</dict>
	<key>美容-增高</key>
	<dict/>
	<key>美容-眼睛放大</key>
	<dict>
		<key>自动</key>
		<dict>
			<key>eyesMax</key>
			<real>0.9</real>
			<key>fdegree</key>
			<real>0.2</real>
			<key>waiweicanshu</key>
			<real>0.8</real>
			<key>alpha</key>
			<real>0.3</real>
		</dict>
	</dict>
	<key>美容-祛黑眼圈</key>
	<dict>
		<key>自动</key>
		<dict>
			<key>fSilkwormAlpha</key>
			<real>0.4</real>
			<key>fSilkwormWeight</key>
			<real>0.2</real>
			<key>poisson</key>
			<integer>1</integer>
		</dict>
		<key>手动</key>
		<dict/>
	</dict>
	<key>美容-亮眼</key>
	<dict>
		<key>自动</key>
		<dict>
			<key>darkenPupilSize</key>
			<integer>0</integer>
			<key>darkenPupilValue</key>
			<integer>0</integer>
			<key>whiteEyes</key>
			<integer>30</integer>
			<key>whiteClean</key>
			<integer>60</integer>
			<key>whiteArea</key>
			<integer>73</integer>
			<key>irisBright</key>
			<integer>34</integer>
			<key>detailAlpha</key>
			<real>1.2</real>
			<key>detailEmphasis</key>
			<real>3</real>
			<key>detailSmooth</key>
			<real>0.5</real>
		</dict>
		<key>手动</key>
		<dict>
			<key>radius</key>
			<integer>16</integer>
			<key>intensity</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>美化-特效</key>
	<dict>
		<key>亮眼</key>
		<dict>
			<key>darkenPupilSize</key>
			<integer>0</integer>
			<key>darkenPupilValue</key>
			<integer>0</integer>
			<key>whiteEyes</key>
			<integer>30</integer>
			<key>whiteClean</key>
			<integer>60</integer>
			<key>whiteArea</key>
			<integer>73</integer>
			<key>irisBright</key>
			<integer>34</integer>
			<key>detailAlpha</key>
			<real>1.2</real>
			<key>detailEmphasis</key>
			<real>3</real>
			<key>detailSmooth</key>
			<real>0.5</real>
			<key>alpha</key>
			<real>0.6</real>
		</dict>
		<key>祛黑眼圈</key>
		<dict>
			<key>fSilkwormAlpha</key>
			<real>0.4</real>
			<key>fSilkwormWeight</key>
			<real>0.2</real>
			<key>poisson</key>
			<integer>1</integer>
			<key>alpha</key>
			<real>0.5</real>
		</dict>
		<key>7级美颜处理</key>
		<dict>
			<key>ambientLight</key>
			<false/>
			<key>phoneType</key>
			<integer>0</integer>
			<key>isFaceMask</key>
			<false/>
			<key>bAbroad</key>
			<false/>
			<key>isForceCloseAutoContrast</key>
			<false/>
			<key>isForceCloseInnerSkinTune</key>
			<true/>
			<key>bAutoCleanFleck</key>
			<true/>
			<key>alphaMixIsSameToiOS</key>
			<true/>
			<key>alpha</key>
			<integer>1</integer>
		</dict>
		<key>虚化</key>
		<dict>
			<key>ellipse</key>
			<real>0.12</real>
			<key>ellipseHeight</key>
			<real>1.35</real>
			<key>div</key>
			<real>0.8</real>
			<key>heightOffset</key>
			<real>0.5</real>
			<key>innerValue</key>
			<real>0.32</real>
			<key>outerValue</key>
			<real>0.18</real>
			<key>nBlurLen</key>
			<integer>8</integer>
			<key>isOnlySupportSingleFace</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
