<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Unknown</string>
		<key>ID</key>
		<integer>0</integer>
		<key>Action</key>
		<integer>0</integer>
		<key>Sound</key>
		<integer>0</integer>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>Path</key>
				<string>726_sh.png</string>
				<key>ORGBA</key>
				<string>60,0,0,0,255</string>
				<key>Rectangle</key>
				<string>142,493,730,380</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>Operation</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>Path</key>
				<string>726_yy.png</string>
				<key>ORGBA</key>
				<string>50,0,0,0,255</string>
				<key>Rectangle</key>
				<string>337,424,341,356</string>
				<key>FilterType</key>
				<string>4</string>
				<key>MUType</key>
				<integer>0</integer>
				<key>Operation</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>GlossAlpha</key>
				<integer>0</integer>
				<key>LightAlpha</key>
				<integer>0</integer>
				<key>LipstickMode</key>
				<integer>6</integer>
				<key>ORGBA</key>
				<string>50,146,15,33,255</string>
				<key>Type</key>
				<string>MPLIPSTICK</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>CommonFilter</string>
				<key>FilterPoolPath</key>
				<string>filter1/FilterPool.plist</string>
				<key>FilterRulePath</key>
				<string>filter1/FilterRule.plist</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>CommonFilter</string>
				<key>FilterPoolPath</key>
				<string>filter/FilterPool.plist</string>
				<key>FilterRulePath</key>
				<string>filter/FilterRule.plist</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
