<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Unknown</string>
		<key>ID</key>
		<integer>0</integer>
		<key>Action</key>
		<integer>0</integer>
		<key>Sound</key>
		<integer>0</integer>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>Path</key>
				<string>730_sh.png</string>
				<key>ORGBA</key>
				<string>52,0,0,0,255</string>
				<key>Rectangle</key>
				<string>138,530,734,316</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>Operation</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>Path</key>
				<string>730_yyy.png</string>
				<key>ORGBA</key>
				<string>25,0,0,0,255</string>
				<key>Rectangle</key>
				<string>549,459,241,162</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>Path</key>
				<string>730_yyz.png</string>
				<key>ORGBA</key>
				<string>25,0,0,0,255</string>
				<key>Rectangle</key>
				<string>224,468,242,162</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>10</integer>
			</dict>
			<dict>
						<key>GlossAlpha</key>
						<integer>0</integer>
						<key>LightAlpha</key>
						<integer>1</integer>
						<key>LipstickMode</key>
						<integer>2</integer>
						<key>ORGBA</key>
						<string>33,153,58,58,255</string>
						<key>Type</key>
						<string>MPLIPSTICK</string>
					</dict>
		</array>
	</dict>
</array>
</plist>
