<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>xiaolu</string>
		<key>ID</key>
		<real>900001</real>
		<key>Action</key>
		<integer>0</integer>
		<key>Sound</key>
		<integer>0</integer>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>Facelift</string>
				<key>FacemeshType</key>
				<integer>2198</integer>
				<key>FacemeshParameters</key>
				<string>1.00,0.40;</string>
				<key>LiftControlType</key>
				<integer>0</integer>
				<key>ValueRange</key>
				<string>0.0,0.60</string>
				<key>ControlPosition</key>
				<string>1</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Facelift</string>
				<key>FacemeshType</key>
				<integer>2101</integer>
				<key>FacemeshParameters</key>
				<string>0.50;</string>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>ValueRange</key>
				<string>0.0,0.9</string>
				<key>ControlPosition</key>
				<string>0</string>
			</dict>
			<dict>
				<key>FacemeshParameters</key>
				<string>0.42,
				0.00,0.00,0.85,0.85,0.00,0.50,0.50,0.74,0.50,0.45,0.35,0.40,
				-0.30,
				0.40,0.35,0.45,0.50,0.74,0.50,0.50,0.00,0.85,0.85,0.00,0.00,
				0.00,0.00,0.05,0.20,0.00,0.10,0.20,0.25,0.10,0.25,0.25,0.15,
				0.20,
				0.15,0.25,0.25,0.10,0.25,0.20,0.10,0.00,0.20,0.05,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>ValueRange</key>
				<string>0.0,0.53</string>
				<key>ControlPosition</key>
				<string>0</string>
				<key>Scale</key>
				<string>0.35</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Facelift</string>
				<key>FacemeshType</key>
				<integer>2400</integer>
				<key>FacemeshParameters</key>
				<string>1.00;</string>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>ValueRange</key>
				<string>0.0,1.00</string>
				<key>ControlPosition</key>
				<string>0</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Facelift</string>
				<key>FacemeshType</key>
				<integer>2105</integer>
				<key>FacemeshParameters</key>
				<string>0.30,0.00;</string>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>ValueRange</key>
				<string>0.0,0.70</string>
				<key>ControlPosition</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
