 <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Unknown</string>
		<key>ID</key>
		<integer>0</integer>
		<key>Action</key>
		<integer>0</integer>
		<key>Sound</key>
		<integer>0</integer>
		<key>FacePart</key>
		<array>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>Path</key>
				<string>705_yxy.png</string>
				<key>ORGBA</key>
				<string>30,0,0,0,255</string>
				<key>Rectangle</key>
				<string>581,507,167,64</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>Path</key>
				<string>705_yxz.png</string>
				<key>ORGBA</key>
				<string>30,0,0,0,255</string>
				<key>Rectangle</key>
				<string>262,513,169,60</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>7</integer>
				<key>Path</key>
				<string>705_yyy.png</string>
				<key>ORGBA</key>
				<string>110,0,0,0,255</string>
				<key>Rectangle</key>
				<string>554,468,228,122</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>6</integer>
				<key>Path</key>
				<string>705_yyz.png</string>
				<key>ORGBA</key>
				<string>110,0,0,0,255</string>
				<key>Rectangle</key>
				<string>230,475,228,121</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>3</integer>
				<key>Operation</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Type</key>
				<string>S</string>
				<key>LocateMethod</key>
				<integer>2</integer>
				<key>Path</key>
				<string>705_sh.png</string>
				<key>ORGBA</key>
				<string>100,0,0,0,255</string>
				<key>Rectangle</key>
				<string>190,519,627,275</string>
				<key>FilterType</key>
				<integer>4</integer>
				<key>MUType</key>
				<integer>4</integer>
				<key>Operation</key>
				<integer>0</integer>
			</dict>
					<dict>
						<key>GlossAlpha</key>
						<integer>0</integer>
						<key>LightAlpha</key>
						<integer>37</integer>
						<key>LipstickMode</key>
						<integer>6</integer>
						<key>ORGBA</key>
						<string>45,190,65,111,255</string>
						<key>Type</key>
						<string>MPLIPSTICK</string>
					</dict>
		</array>
	</dict>
</array>
</plist>
