<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<real>2005</real>
	<key>FilterPart</key>
	<array>
		<dict>
			<key>Type</key>
			<string>RealtimeFilter</string>
			<key>StrokeType</key>
			<string>2005</string>
		</dict>
	</array>
</dict>
</plist>
