<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lu.uni.jungao.plagiarist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="lu.uni.jungao.plagiarist.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="lu.uni.jungao.plagiarist.FuncBorrowingActivity"></activity>
        <activity android:name="lu.uni.jungao.plagiarist.CodeHidingActivity" />
        <activity android:name="lu.uni.jungao.plagiarist.InstalledAppsActivity" />
        <activity android:name="lu.uni.jungao.plagiarist.TTProxyActivity" />
        <activity android:name="lu.uni.jungao.plagiarist.VideosActivity" />
        <activity android:name="lu.uni.jungao.plagiarist.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>