<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DrawArray</key>
		<array>
			<dict>
				<key>stepIndex</key>
				<string>1</string>
				<key>filterID</key>
				<string>1004</string>
				<key>local_fs</key>
				<string>1004/MTFilter_GaussianIns.fs</string>
				<key>local_vs</key>
				<string>1004/MTFilter_Base2.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>type</key>
						<string>0</string>
						<key>texture</key>
						<string></string>
						<key>matchInputID</key>
						<string>0</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformName</key>
						<string>blurSize</string>
						<key>uniformValue</key>
						<string>1.0</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>stepIndex</key>
				<string>2</string>
				<key>filterID</key>
				<string>1010</string>
				<key>local_fs</key>
				<string>1010/MTFilter_SharpIns.fs</string>
				<key>local_vs</key>
				<string>1010/MTFilter_Base.vs</string>
				<key>inputArray</key>
				<array>
					<dict>
						<key>type</key>
						<string>0</string>
						<key>texture</key>
						<string></string>
						<key>matchInputID</key>
						<string>0</string>
					</dict>
					<dict>
						<key>type</key>
						<string>3</string>
						<key>texture</key>
						<string></string>
						<key>matchInputID</key>
						<string>1</string>
						<key>matchStepIndex</key>
						<string>1</string>
					</dict>
				</array>
				<key>uniformValueArray</key>
				<array>
					<dict>
						<key>uniformType</key>
						<string>1</string>
						<key>uniformName</key>
						<string>sharpen</string>
						<key>uniformValue</key>
						<string>0.2</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
