<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Unknown</string>
		<key>ID</key>
		<integer>0</integer>
		<key>Action</key>
		<integer>0</integer>
		<key>FacePart</key>
		<array>

			<!-- 缩脸 -->
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>LiftControlType</key>
				<integer>1</integer>
				<key>FacemeshParameters</key>
				<string>0.7,0,0.71,0.67,0.55,0.64,0,0.99,0.63,0.76,0.72,0.44,-0.41,0,-0.41,0.44,0.72,0.76,0.63,0.99,0,0.64,0.55,0.67,0.71,0,0,0.08,0.13,0.13,0.13,0,0.11,0.09,0.07,0.12,0.09,-0.15,0,-0.15,0.09,0.12,0.07,0.09,0.11,0,0.13,0.13,0.13,0.08,0;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>ValueRange</key>
				<string>0.0,0.7</string>
				<key>Type</key>
				<string>Facelift</string>
			</dict>

			<!-- 眼睛 大眼0 -->
			<dict>
				<key>ControlPosition</key>
				<string>0,1</string>
				<key>LiftControlType</key>
				<integer>0</integer>
				<key>FacemeshParameters</key>
				<string>0.9,0.60,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2108</integer>
				<key>ValueRange</key>
				<string>0.0,0.9,0.0,0.6</string>
				<key>Type</key>
				<string>Facelift</string>
			</dict>
			<!-- 鼻子 缩鼻3 -->
			<dict>
				<key>ControlPosition</key>
				<string>0,1,2,4</string>
				<key>LiftControlType</key>
				<integer>3</integer>
				<key>FacemeshParameters</key>
				<string>0.98,1.00,0.11,0.00,0.08;</string>
				<key>FacemeshType</key>
				<integer>2110</integer>
				<key>ValueRange</key>
				<string>0.0,0.98,0.0,1.00,0.0,0.11,0.0,0.08</string>
				<key>Type</key>
				<string>Facelift</string>
			</dict>
			<!-- 嘴型 -->
                <dict>
                    <key>FacemeshParameters</key>
                    <string>0.25,0.14;</string>
                    <key>FacemeshType</key>
                    <integer>2105</integer>
                    <key>Type</key>
                    <string>Facelift</string>
                    <key>ControlPosition</key><string>0</string>
                    <key>LiftControlType</key><integer>4</integer>
                    <key>ValueRange</key><string>-1.0,1.0</string>
                </dict>
			<!-- 额头 -->
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>LiftControlType</key>
				<integer>13</integer>
				<key>FacemeshParameters</key>
				<string>0.30,0.00;</string>
				<key>FacemeshType</key>
				<integer>2111</integer>
				<key>ValueRange</key>
				<string>-0.8,0.8</string>
				<key>Type</key>
				<string>Facelift</string>
			</dict>
			<!-- 小脸 -->
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>LiftControlType</key>
				<integer>12</integer>
				<key>FacemeshParameters</key>
				<string>0.8;</string>
				<key>FacemeshType</key>
				<integer>2400</integer>
				<key>ValueRange</key>
				<string>0.0,0.8</string>
				<key>Type</key>
				<string>Facelift</string>
			</dict>
			<!-- 下巴 -->
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>ControlRange</key>
				<string>0.5,1.0</string>
				<key>LiftControlType</key>
				<integer>2</integer>
				<key>FacemeshParameters</key>
				<string>0.5,0,0,0,0,0,0,0,0,0,0,0,0.38,0.44,0.38,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-0.24,-1,-0.24,0,0,0,0,0,0,0,0,0,0,0;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0,0.5</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>ControlRange</key>
				<string>0,0.5</string>
				<key>LiftControlType</key>
				<integer>2</integer>
				<key>FacemeshParameters</key>
				<string>0.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.57,0.00,1.00,0.00,0.57,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.22,0.00,0.25,0.00,0.22,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>Type</key>
				<string>Facelift</string>
				<key>ValueRange</key>
				<string>0.5,0</string>
			</dict>
<!-- 颧骨 -->
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>LiftControlType</key>
				<integer>11</integer>
				<key>FacemeshParameters</key>
				<string>0.5,1,1,1,0.59,0.65,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0.65,0.59,1,1,1,0,0,0.06,0.44,0.06,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.06,0.44,0.06,0,0;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>ValueRange</key>
				<string>0.0,0.5</string>
				<key>Type</key>
				<string>Facelift</string>
			</dict>
			<dict>
				<key>ControlPosition</key>
				<string>0</string>
				<key>ControlRange</key>
				<string>0,0.5</string>
				<key>LiftControlType</key>
				<integer>11</integer>
				<key>FacemeshParameters</key>
				<string>0.4,1,1,1,-0.82,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,-0.82,1,1,1,0,0,0,0.33,-0.21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-0.21,0.33,0,0,0;</string>
				<key>FacemeshType</key>
				<integer>2199</integer>
				<key>ValueRange</key>
				<string>0.4,0</string>
				<key>Type</key>
				<string>Facelift</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
